/*Popup 页面的css*/

body {
    width: 300px;
    padding: 10px;
}

.header{
    height: 50px;
    border-bottom: solid 1px gray;
    margin-bottom: 10px;
}
.header .logo ,.header .title{
    float: left;
}
.header .logo{
    height: 34px ; width:34px; background: url(img/logo.png) no-repeat 0 0 white;
}
.header .title{
    margin:0 0 0 20px;
}
.header .title h2{
    font-size: 10px;
    font-weight: normal;
}
.header .title h1{
    color: #228b22;
    font-size: 20px;
}

.container .list {
    font-size: 12px;
}

.container .list dl {
    height: 30px;
    line-height: 30px;
    margin-bottom: 20px;
}

.container .list dt, .container .list dd {
    float: left;
}

.container .list dt {
    width: 70px;
}

.container .list .date_input {
    width: 50px;
}
.container .function {
    display: block;
    float: left;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    margin: 3px 10px 0 0;
    text-decoration: none;
    background-color: #ff6900;
    color: #ffffff;
}
.container .function input[type=checkbox]{
    vertical-align: middle;
    margin:0  5px 0 0;
}
.container .function.disable{
    background-color: #CCCCCC;
}

.container .submit{
    display: inline-block;
    background-color: #0088cc;
    text-shadow: 0 1px 0 rgba(0,0,0,.15);
    text-decoration: none;
    color: #ffffff;
    padding:6px 8px;
    border-radius: 4px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(64,150,238,1)), color-stop(100%,rgba(64,150,238,1)));
}
.container .submit:hover{
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(109,179,242,1)), color-stop(50%,rgba(84,163,238,1)), color-stop(51%,rgba(54,144,240,1)), color-stop(100%,rgba(30,105,222,1)));
}