@CHARSET "UTF-8";
/*****************tag标签******************/
.wr-tag-container .wr-tag-item {
    position: absolute;
    z-index: 999;
    color: white;
    font-size: 12px;
    padding: 1px 7px 1px 7px;
    border: solid 1px #cccccc;
    box-shadow: 0 0 1px #cccccc;
    cursor: pointer;
    display: block;
}

.wr-tag-container .wr-close-bg {
    width: 0;
    height: 0;
    border-right: solid 100px rgba(0, 0, 0, .2);
    border-bottom: solid 100px rgba(0, 0, 0, .2);
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10000;
}

.wr-tag-container .wr-close {
    position: fixed;
    z-index: 10001;
    left: 20px;
    top: 10px;
    font-size: 60px;
    display: block;
    height: 60px;
    line-height: 50px;
    color: #0088cc;
    text-decoration: none;
}

.wr-tag-container .wr-close:hover {
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: 50% 50%;
    -webkit-transition: all .25s linear;
}

.wr-hide {
    display: none;
}

.wr-tag-hover {
    border: solid 1px #333;
}

.wr-loading {
    background-color: #FFFACD;
    border: 1px solid #cccccc;
    border-radius: 3px;
    padding: 5px 10px;
    position: fixed;
    left: 50%;
    top: -50px;
    z-index: 10000;
    font-size: 14px;
    box-shadow: 0 0 3px #ccc;
}

.wr-loading div {
    width: 200px;
    margin: 0 auto 0 auto;
    background-color: #D4E9F3;
    padding: 15px 0 15px 0;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border: solid 2px;
}

.wr-fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
}

.wr-in {
    opacity: 1;
}

.wr-hide {
    display: none;
}

/********************controller**********************/
.controller {
    margin: 0;
    padding: 0;
}

.wr-main {
    padding: 20px;;
    font-family: sans-serif;
    font-size: 0.8em;
    background: white;
    width: 365px;
}

.wr-header {
    border-bottom: 1px solid #eee;
    padding-bottom: 7px;
    margin: 0px 0 10px 0;
}

.wr-header label {
    font-size: 14px;
    font-weight: bold;
    color: gray;
}

.wr-content {
    padding: 10px;
    background-color: #F6F6F6;
    border: solid 1px #ddd;
    border-radius: 4px;
    margin-buttom: 10px;
}

.ctl-grp {
    padding: 15px 0 15px 0;
}

.ctl-grp .ctl-lbl {
    width: 20%;
    text-align: right;
    float: left;
    color: #816957;
}

.ctl-grp .ctls {
    padding-left: 20px;
    float: left;
}

ul.selects, ul.switcher, ul.detail-info {
    list-style: none;
}

ul.selects li {
    float: left;
    padding-right: 8px;
}

ul.selects li a, ul.switcher li a {
    text-decoration: none;
    border: solid 1px #E67122;
    padding: 4px 8px 4px 8px;
    background-color: white;
    color: #E67122;
    cursor: pointer;
}

ul.selects li:hover a, ul.switcher li:hover a {
    background-color: #FFF7E8;
}

ul.selects li.active a, ul.switcher li.active a {
    background-color: #E67122;
    color: #ffffff;
}

.ctl-grp:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.wr-action {
    margin-top: 20px;
}

.wr-action .btn {
    margin-left: 95px;
}

.btn {
    text-decoration: none;
    color: white;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 18px;
    border: 1px solid #ccc;
    cursor: pointer;
    text-align: center;
    background-color: #e76f23;
}

.btn:hover {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btn:active {
    color: rgba(255, 255, 255, 0.75);
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.75) inset;
}

.right {
    float: right;
}

ul.switcher li {
    float: left;
}

1
ul.switcher li a {

}

/**************点击菜单******************/
.wr-detail-box {
    padding: 7px 14px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #DEDEDE;
    background-color: #ffffff;
    z-index: 99999;
    position: absolute;
}

.arrow-head-top {
    position: absolute;
    border: solid 8px;
    display: block;
}

.arrow-head-top.inner {
    border-color: transparent transparent #FFFFFF transparent;
    top: -59px;
    left: 0;
}

.arrow-head-top.outer {
    border-color: transparent transparent #DEDEDE transparent;
    top: -60px;
    left: 0;
}

.wr-detail-panels {
}

.wr-detail-info, .wr-detail-consist {
    float: left;
}

.wr-detail-consist {
    margin-left: 20px;
}

.wr-detail-chart {
    height: 350px;
}

.wr-detail-consist table, .wr-detail-consist table td, .wr-detail-consist table th {
    border-collapse: collapse;
    border: solid 1px #E67122;
    text-align: center;
    font-size: 12px;
}

.wr-detail-consist table tr a {
    color: #0088cc;
    text-decoration: none;
}

.wr-detail-consist table tr {
    height: 28px;
    line-height: 24px;
}

.wr-detail-box label {
    font-size: 12px;
}

.wr-detail-content {
    font-size: 15px;
    position: relative;
}

ul.wr-detail-info li {
    padding-bottom: 8px;
}

ul.wr-detail-info li:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

ul.wr-detail-info li span {
    float: left;
    width: 70px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

ul.wr-detail-info li span.wr-info-title, ul.wr-detail-info li span.wr-info-content {
    border: solid 1px #E67122;
}

ul.wr-detail-info li span.wr-info-title {
    background-color: white;
    color: #E67122;
}

ul.wr-detail-info li span.wr-info-content {
    background-color: #E67122;
    color: #FFFFFF;
}

.wr-detail-box .wr-close {
    position: absolute;
    top: -38px;
    right: -8px;
    cursor: pointer;
    color: gray;
    text-decoration: none;
    font-weight: bold;
    color: gray;
}

.wr-detail-box .wr-close:hover {
    color: #E67122;
}